/* MOBILE SCREEN SETTINGS */
@media (min-width: 375px) and (max-width: 1440px){
    html, body{
        margin: 0;
        padding: 0;
        overflow-x: hidden;
    }
    .hamburger-container{
        display: flex;
    }
    /* .navbar{
        flex-flow: column nowrap;
        position: absolute;
        right: 3rem;
        width: 60%;
        max-width: 30rem;
    } */
    .hamburger-button{
        display: block;
        margin-left: auto;
        margin-top: 2rem;
        background-color: transparent;
        border: none;
    }
    .triangle{
        display: block;
        position: absolute;
        top: -3rem;
        right: 0;
        z-index: 1;
        width: 2rem;
        border-left: 1px solid transparent;
        border-top: 3rem solid transparent;
        border-bottom: 1px solid transparent;
        border-right: 3rem solid #fff;      
    }
    .navbar-pills{
        display: none;
        position: absolute;
        width: 25%;
        right: 0;
        top: 5rem;
        flex-flow: column nowrap;
        justify-content: center;
        align-items: center;
        margin: 3rem;
        padding: 3rem;
        background-color: hsl(0, 0%, 100%);
        list-style: none;
    }
    .visible{
        display: flex;
    }
    .navbar-pills li{
        padding: 1rem;
    }
    .navbar-pills li>a{
        text-decoration: none;
        color: hsl(232, 10%, 55%);
    }
    .navbar-pills li:hover{
        background-color: hsl(51, 100%, 49%);
        border-radius: 3rem;
        padding: 1rem;
        color: hsl(198, 62%, 26%);
        text-transform: uppercase;
        font-family: 'Fraunces', serif;
    }
    .article {
        display: flex;
        flex-flow: column nowrap;
    }
    .article-text{
        padding-top: 3rem;
        padding-bottom: 3rem;
    }
    .article-text-container{
        padding-left: 10%;
        padding-right: 10%;
        text-align: center;
    }
    #services {
        display: flex;
        flex-flow: column nowrap;
    }
    .service-text{
        margin-top: 5rem;
    }
    .order-2{
        order: 0;
    }
    .service-text{
        margin-bottom: 3rem;
    }
    #feedback .wrapper{
        flex-flow: column nowrap;
        padding-bottom: 0;
    }
    #feedback .wrapper .card{
        margin-bottom: 5rem;
    }
    #feedback .card{
        width: 100%;
    }
    #gallery .wrapper {
        display: flex;
        flex-flow: row wrap;
    }
    #gallery .wrapper img {
        width: 50%;
    }
}
/* END OF MOBILE SCREEN SETTINGS */