/* MOBILE SCREEN SETTINGS */
@media (min-width: 375px) and (max-width: 1440px){
    html{
        max-width: 375px;
    }
    .hamburger-container{
        display: flex;
    }
    .navbar-pills{
        display: none;
    }
    .article {
        display: flex;
        flex-flow: column nowrap;
    }
    .article-text{
        padding-top: 3rem;
        padding-bottom: 3rem;
    }
    .article-text-container{
        padding-left: 10%;
        padding-right: 10%;
        text-align: center;
    }
    #services {
        display: flex;
        flex-flow: column nowrap;
    }
    .service-text{
        margin-top: 5rem;
    }
    .order-2{
        order: 0;
    }
    .service-text{
        margin-bottom: 3rem;
    }
    #feedback .wrapper{
        flex-flow: column nowrap;
        padding-bottom: 0;
    }
    #feedback .wrapper .card{
        margin-bottom: 5rem;
    }
    #feedback .card{
        width: 100%;
    }
    #gallery .wrapper {
        display: flex;
        flex-flow: row wrap;
    }
    #gallery .wrapper img {
        width: 50%;
    }
}
/* END OF MOBILE SCREEN SETTINGS */